body {
    background: #333; 
    color: white;
}

h1, h2 {
    text-align: center;
}

div.container, div.row, form {
    width: 600px;
    margin: 0 auto;
    clear: both;
    }
    div.row > div {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
    }
    div.row > div > img {
    display: inline-block;
    width: 200px;
    }
    .visible {
    visibility: visible;
    }
    .hidden {
    visibility: hidden;
    }
    .done {
    visibility: visible;
    }

.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

.clearfix {
    overflow: auto;
}

#swap {
    float: right;
}

#bottomMenu {
    width: 600px;
    margin: 0 auto;
}