/* Styling / General CSS */
body {
    background: #333; 
    color: white;
      -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
   backface-visibility: hidden;   

   padding: 0;
}

h1, h2 {
    text-align: center;
}

.visible {
    visibility: visible;
}

.hidden {
    visibility: hidden;
}

.done {
    visibility: visible;
}

.clearfix {
    overflow: auto;
}

/* Div Grid */
.container, .row {
    width: 600px;
    margin: 0 auto;
}

.row > div {
    position: relative;
    float: left;
    width: 200px;
    height: 200px;
    vertical-align: bottom;
}

.imgBox{
    display: block;
    width: 200px;
    position:relative;
}

/*
.divImg {
    position: absolute;
}

.divImg:hover {
    border: 1px solid #000;
    border-color: red;
}
*/

.check {
    z-index: -1;
}

#swap {
    float: right;
}

#bottomMenu {
    width: 600px;
    margin: 0 auto;
}